---
import * as m from "#messages/messages";
import { LanguageSwitcher, LcnmqtLogo, Link, SelfLink } from ".";

const { currentLocale, url } = Astro;
const navs = [
  {
    href: `/${currentLocale}/${m.contact_slug()}/`,
    text: m.contact_link(),
  },
  {
    href: `/${currentLocale}/${m.about_slug()}/`,
    text: m.about_link(),
  },
];
---

<header
  class="mb-12 flex items-center justify-between gap-2 px-2 py-4 text-sm md:px-8"
>
  <div>
    {
      `/${currentLocale}/` === url.pathname ? (
        <LcnmqtLogo class="w-24" />
      ) : (
        <Link href={`/${currentLocale}/`} hreflang={currentLocale}>
          <LcnmqtLogo class="w-24" />
        </Link>
      )
    }
  </div>
  <nav class="flex gap-2">
    <ul
      class="flex flex-col items-end justify-between gap-1 border-r pr-2 md:flex-row md:justify-end md:gap-2"
    >
      {
        navs.map(({ href, text }) => (
          <li>
            {href === url.pathname ? (
              <SelfLink text={text} />
            ) : (
              <Link href={href} hreflang={currentLocale}>
                {text}
              </Link>
            )}
          </li>
        ))
      }
    </ul>
    <LanguageSwitcher />
  </nav>
</header>
